@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Hanken";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/src/assets/fonts/static/HankenGrotesk-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Hanken";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/src/assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Hanken";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/src/assets/fonts/static/HankenGrotesk-Medium.ttf) format("truetype");
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
